@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Sriracha&display=swap");

:root {
  --clr-text: #f3f4ed;
  --clr-primary: #424642;
  --clr-medium: #536162;
  --clr-brand: #c06014;
  --font-primary: "Cabin", sans-serif;
  --font-secondary: "Sriracha", cursive;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  /* overflow-y: scroll; */
  scrollbar-width: thin;
  scrollbar-color: var(--clr-text) var(--clr-medium);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--clr-medium);
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-text);
}

body {
  display: grid;
  height: 100%;
  grid-template-rows: min-content auto;
  grid-template-areas: "header" "body";
}

.header {
  grid-area: header;
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  z-index: 1;
  box-sizing: border-box;
}

.header::before {
  box-sizing: border-box;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(images/selection.png);
  background-position: center;
  opacity: 0;
  filter: blur(10px) brightness(0);
  z-index: -1;
  animation: background-blend 700ms ease forwards;
}

nav {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 10;
}

nav a {
  text-decoration: none;
  background: var(--clr-text);
  color: var(--clr-primary);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.4);
  /* transform: none; */
  display: grid;
  place-items: center;
  transition: all 200ms ease;
}

nav:hover a,
nav:focus a {
  box-shadow: 0 0 24px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}

h1 {
  text-align: center;
  color: var(--clr-text);
  font-size: calc(1.5rem + 5vw);
  opacity: 0;
  animation: fade-in 900ms ease forwards 700ms;
}

.grid--container {
  grid-area: body;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  max-width: 1000px;
  margin: -20vh auto 0;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: auto 250px;
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.4);
  background: inherit;
  padding: 2em;
  transform: translateY(500px);
  opacity: 0;
  animation: slide-up 500ms ease forwards 1700ms,
    fade-in 300ms ease forwards 1700ms;
  z-index: 2;
}

.inventory {
  grid-column: 1;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.item--container {
  /* margin: 0.5rem; */
  text-align: center;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 200ms ease;
  flex: 0 1 20%;
}

.item--container:hover,
.item--container:focus {
  box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.3);
  transform: translateY(-2%);
  outline: none;
}

.item--description {
  font-size: 1.2rem;
  line-height: 1;
}

.item--container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.cart-section {
  grid-column: 2;
  position: sticky;
  top: 1rem;
  height: fit-content;
}

.cart--container {
  text-align: right;

  background: var(--clr-primary);
  color: var(--clr-text);
  height: min-content;
  /* max-height: 80vh; */
  padding: 1em;
  display: grid;
  grid-template-rows: fit-content(2rem) minmax(min-content, auto) fit-content(
      1rem
    );
}

.cart--container h2 {
  font-size: 2.1rem;
  margin: 1rem 0;
}

.cart {
  max-height: 45vh;
  overflow-y: auto;
  scrollbar-width: thin;
  padding-right: 10px;
  margin-right: -10px;
}

.icon--container {
  background: var(--clr-primary);
  color: var(--clr-text);
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.count--container {
  position: absolute;
  bottom: 1rem;
  left: 28px;
  /* opacity: 0; */
  margin: 0;
  padding: 0.25rem;
  display: grid;
  place-items: center;
  transform: scale(0);
  animation: grow-out 200ms ease forwards 200ms;
  background: var(--clr-brand);
  color: var(--clr-primary);
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.cart-count {
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: 1rem;
}

.cart::-webkit-scrollbar {
  width: 5px;
}

.cart::-webkit-scrollbar-thumb {
  background-color: var(--clr-text);
}

.cart::-webkit-scrollbar-track {
  background-color: var(--clr-medium);
}

.cart-item {
  transform-origin: top;
  animation: grow 250ms ease forwards;
}

.cart-item h3 {
  font-size: 1.4rem;
  margin-bottom: 0.9rem;
}

.cart-item label {
  opacity: 0.8;
}

.cart-item p {
  display: inline-block;
  margin: 0;
  font-size: 1.1rem;
}

.cart-item label {
  margin-left: 1rem;
}

.cart-summary {
  text-align: center;
}

.cart-totals {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.cart-totals h3 {
  display: inline-block;
  margin: 0.5rem 0;
  font-size: 1.4rem;
}

.cart-totals > span {
  font-size: 1.1rem;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  animation: fade-in 200ms ease forwards;
  opacity: 0;
}

.modal {
  background: var(--clr-text);
  display: flex;
  flex-wrap: wrap;
  position: relative;
  animation: modal-slide 200ms ease forwards;
  max-width: 95vw;
}

.modal-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1em;
  text-align: center;
  position: relative;
  flex-grow: 1;
}

.modal-text-wrapper h2 {
  font-size: 2rem;
  margin: 1rem 0;
}

.input--wrapper,
.price--wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.input--wrapper input,
.price--wrapper p {
  margin-left: 0.5rem;
  width: 50px;
  font-size: 1.2rem;
}

.modal-text-wrapper label {
  opacity: 0.8;
}

.price--wrapper p {
  text-align: right;
}

.modal img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-grow: 1;
  max-width: 100%;
  max-height: 30vh;
}

.modal.checkout {
  flex-direction: column;
  padding: 2em;
}

.special-deal {
  position: absolute;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );

  background: var(--clr-brand);
  top: 30%;
  left: 20px;
  width: 75px;
  height: 75px;
  padding-top: 0.5rem;
  box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.4);
}

.special-deal p {
  margin: 0;
  color: var(--clr-text);
}

.checkout .special-deal {
  top: 0;
  left: 0;
}

.toast-message {
  position: absolute;
  top: 100%;
  z-index: 101;
  background: var(--clr-text);
  color: var(--clr-brand);
  width: 100%;
  text-align: center;
  transform-origin: top;
  animation: grow 250ms ease forwards, grow 250ms ease reverse 4750ms;
}

@keyframes background-blend {
  from {
    filter: blur(10px) brightness(0);
    opacity: 0;
  }
  to {
    filter: blur(0) brightness(0.5);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-slide {
  from {
    transform: translateY(-60%);
  }
  to {
    transform: translateY(-10%);
  }
}

@keyframes grow {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes grow-out {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(500px);
  }
  to {
    transform: none;
  }
}

@media (max-width: 700px) {
  .grid--container {
    padding: 1rem;
  }

  .inventory {
    flex: 0 1 40%;
    justify-content: space-evenly;
  }

  .item--container {
    margin: 0.5rem 0;
  }
}

@media (max-width: 500px) {
  .grid--container {
    height: fit-content;
    display: block;
    padding: 1rem 0;
  }

  .inventory {
    grid-column: none;
  }

  .cart-section {
    position: fixed;
    top: unset;
    bottom: calc(100vh - 4rem);
    left: 0;
    width: 100%;
    height: 4rem;
    z-index: 15;
    background: var(--clr-primary);
    opacity: 0;
    animation: fade-in 400ms ease forwards 2200ms;
  }

  .cart--container {
    position: relative;
    transform-origin: top;
    transform: translateY(-100%);
    transition: transform 400ms ease;
    z-index: -1;
  }

  .cart--expand {
    transform: translateY(-2rem);
  }

  nav {
    bottom: 1rem;
    left: 1rem;
  }

  .icon--container {
    position: relative;
    z-index: 1;
    text-align: right;
    width: 100vw;
    top: unset;
    height: 4rem;
    left: unset;
  }

  .fa-shopping-cart {
    position: relative;
    top: 1rem;
    right: 2rem;
  }
}
