:root {
  --clr-text: #f3f4ed;
  --clr-primary: #424642;
  --clr-medium: #536162;
  --clr-brand: #c06014;
  --font-primary: sans-serif;
  --font-secondary: cursive;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
  /* background: var(--clr-text); */
  color: var(--clr-primary);
  width: 100%;
}

body {
  background: var(--clr-text);
}

.landing-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1em;
  background: black;
  z-index: 1;
}

.landing-section::before {
  box-sizing: border-box;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("./images/freshproduce.jpg");
  opacity: 0;
  filter: blur(10px) brightness(0);
  z-index: -1;
  animation: background-blend 800ms ease forwards;
}

.landing-section h1 {
  color: var(--clr-text);
  font-size: calc(2.5rem + 5vw);
  margin-bottom: 1rem;
  animation: fade-in 1000ms ease forwards 800ms;
  opacity: 0;
}

.landing-section h3 {
  color: var(--clr-text);
  font-size: calc(1.2rem + 2vw);
  font-family: var(--font-secondary);
  margin-top: 0;
  animation: fade-in 1000ms ease forwards 800ms;
  opacity: 0;
}

.landing-section button {
  animation: slide-up 500ms cubic-bezier(0.605, 1.38, 0.87, 0.93) forwards
    1500ms;
  transform: translateY(800px);
  z-index: 1;
}

button {
  font-size: calc(1.2rem);
  background: var(--clr-primary);
  color: var(--clr-text);
  padding: 1em 3em;
  cursor: pointer;
  border: 1px solid var(--clr-text);
  transition: all 500ms ease;
  position: relative;
  z-index: 1;
  margin-top: 1rem;
}

button::after {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--clr-text);
  transform: scaleY(0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform-origin: bottom;
  transition: transform 500ms ease;
}

button:hover {
  border: 1px solid var(--clr-brand);
  color: var(--clr-brand);
}

button:hover::after {
  transform: scaleY(1);
  transform-origin: top;
}

.introduction {
  margin: 2rem 0;
  padding: 1em;
  width: 100%;
  position: relative;
  z-index: 3;
  background: inherit;
  overflow-x: hidden;
}

.values {
  font-size: calc(2rem + 3vw);
  padding-left: 10%;
  /* transform-style: preserve-3d; */
  transform: scale(0);
  position: -webkit-sticky;
  top: 50px;
}

.introduction--card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 15vh auto;
}

.img--container {
  position: relative;
  /* transform: translate(1000px, 175px); */
  /* transition: transform 500ms ease; */
  opacity: 0;
}

.img--container img {
  width: 500px;
  height: 300px;
  max-width: 100%;
  object-fit: cover;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.4);
  position: relative;
  left: 40px;
}

.img--container h2 {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  margin: 0;
  padding: 0.5em;
  background: rgba(255, 255, 255, 0.5);
  border-bottom-left-radius: 0.5rem;
}

.introduction--card-text {
  background: #f8f5f1;
  padding: 2em 1em;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
  opacity: 0;
  position: relative;
  left: -80px;
  top: 60px;
  /* transform: translate(-80px, 60px); */
  /* transform: translate(-700px, -100px);
  transition: transform 500ms ease; */
  /* display: flex;
  align-items: center; */
}

.introduction--card-text p {
  font-size: calc(1rem + 0.7vw);
  max-width: 20ch;
}

.testimonial-section {
  padding: 2em 0;
  background: var(--clr-medium);
}

.testimonial-section h1.reviewers {
  text-align: center;
  color: var(--clr-text);
  font-size: calc(2rem + 3vw);
  transform-origin: bottom;
  transform: scaleY(0);
}

.testimonials {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.testimonials--card {
  background: var(--clr-text);
  /* width: 25%; */
  margin: 1rem;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
}

.testimonials--card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.testimonials--card .testimony {
  width: 20ch;
  margin: 0;
}

.call-to-action {
  text-align: center;
  margin: 5rem 0;
  padding: 5em;
}

@keyframes background-blend {
  from {
    filter: blur(10px) brightness(0);
    opacity: 0;
  }
  to {
    filter: blur(0) brightness(0.5);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(1000px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes zoom-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slide-from-left {
  from {
    transform: translate(300px, 100px);
    opacity: 1;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes slide-from-right {
  from {
    transform: translate(-300px, -100px);
    opacity: 1;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes grow-up {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@media (max-width: 500px) {
  .img--container img,
  .introduction--card-text {
    left: 0;
  }

  .introduction--card-text {
    top: -32px;
  }
}
